<div>
  <img src="assets/images/backgrounds/Banner-Contacto.jpg" alt="Banner-Contacto" class="contacto-banner" />
</div>
<mat-grid-list cols="3" rowHeight="190px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="contacto-container">
      <button mat-fab aria-label="Phone" class="boton-fab">
        <mat-icon style="color: #074e67">phone</mat-icon>
      </button>
      <br /><br />
      <span style="font-weight: bold; color: red">OFICINAS</span>
      <br />
      <span>55-39-44-15-45</span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="3">
    <div class="contacto-container">
      <div style="margin-bottom: 40px">
        <span id="brand-contacto">ENVIANOS UN EMAIL</span>
        <br /><br />
        <form [formGroup]="newForm">
          <mat-form-field class="input-text">
            <mat-label>Nombre</mat-label>
            <input matInput required placeholder="Nombre Completo" [formControl]="nombre" maxlength="50" />
            <mat-icon matSuffix>
              <i-tabler name="user"></i-tabler>
            </mat-icon>
            <mat-error *ngIf="nombre.invalid">{{ getErrorNombre() }}</mat-error>
          </mat-form-field>
          <br />
          <mat-form-field class="input-text">
            <mat-label>Email</mat-label>
            <input matInput type="email" required placeholder="pat@example.com" [formControl]="email" maxlength="50" />
            <mat-icon matSuffix>
              <i-tabler name="mail"></i-tabler>
            </mat-icon>
            <mat-error *ngIf="email.invalid">{{ getErrorEmail() }}</mat-error>
          </mat-form-field>
          <br />
          <mat-form-field class="input-text">
            <mat-label>Telefono</mat-label>
            <input matInput type="tel" required placeholder="55-1234-5678" [formControl]="telefono" />
            <mat-icon matSuffix>
              <i-tabler name="phone"></i-tabler>
            </mat-icon>
            <mat-error *ngIf="telefono.invalid">{{ getErrorTelefono() }}</mat-error>
          </mat-form-field>
          <br />
          <mat-form-field class="input-text">
            <mat-label>Comentarios</mat-label>
            <input
              matInput
              required
              placeholder="Escribe un comentario ..."
              [formControl]="comentarios"
              maxlength="256"
            />
            <mat-icon matSuffix>
              <i-tabler name="align-center"></i-tabler>
            </mat-icon>
            <mat-error *ngIf="comentarios.invalid">{{ getErrorComentarios() }}</mat-error>
          </mat-form-field>
          <br /><br />
          <button mat-raised-button color="primary" (click)="mostrar_datos()" [disabled]="!newForm.valid">
            Confirmar Registro
          </button>
        </form>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="contacto-container">
      <button mat-fab aria-label="Location" class="boton-fab">
        <mat-icon style="color: #074e67">home</mat-icon>
      </button>
      <br /><br />
      <span> Calle Granjas No.45 Colonia palo alto delegacion cuajimalpa C.P. 05110 </span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="contacto-container">
      <button mat-fab aria-label="Location" class="boton-fab">
        <mat-icon style="color: #074e67">mail</mat-icon>
      </button>
      <br /><br />
      <span>info@ligaponiente.com</span>
    </div>
  </mat-grid-tile>
</mat-grid-list>
