<div class="center-form-equipo" style="margin-bottom: 40px">
  <span id="brand-form-equipo">REGLAMENTOS DE LA LIGA</span>
</div>
<div class="col-md-12">
  <mat-grid-list cols="2" rowHeight="150px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div style="text-align: center">
        <span style="font-weight: bold">REGLAMENTO DE COMPETENCIA</span>
        <br /><br />
        <button mat-raised-button style="padding: 20px; background-color: #6ee0f3; font-weight: bold">
          <a href="assets/documents/reglamento.pdf" target="_blank" style="text-decoration: none; color: black">
            Ver documento
          </a>
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div style="text-align: center">
        <span style="font-weight: bold">ANEXO TÉCNICO</span>
        <br /><br />
        <button mat-raised-button style="padding: 20px; background-color: #6ee0f3; font-weight: bold">
          <a href="assets/documents/anexo_tecnico.pdf" target="_blank" style="text-decoration: none; color: black">
            Ver documento
          </a>
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div style="text-align: center">
        <span style="font-weight: bold">CONVOCATORIAS</span>
        <br /><br />
        <button mat-raised-button style="padding: 20px; background-color: #6ee0f3; font-weight: bold">
          <a href="assets/documents/convocatoria.pdf" target="_blank" style="text-decoration: none; color: black">
            Ver documento
          </a>
        </button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div style="text-align: center">
        <span style="font-weight: bold">CATEGORIAS Y FORMATOS</span>
        <br /><br />
        <button mat-raised-button style="padding: 20px; background-color: #6ee0f3; font-weight: bold">
          <a href="assets/documents/formats.pdf" target="_blank" style="text-decoration: none; color: black">
            Ver documento
          </a>
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<br /><br /><br />
